
{% extends 'base.html' %}
{% load static %}



{% block title %}
    cart
{% endblock title %}
    

{% block extra_style %}

<style>
    a img {
    cursor: pointer;
    transition: transform 0.1s ease;
    }

    a img:hover {
        transform: scale(1.1);
    }

</style>
{% endblock extra_style %}
    

{% block content %}
{% include 'partials/alerts.html' %}

  <!-- cart section -->
  <section class="cart_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Shopping Cart
            </h2><br><br>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="cart_items">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Remove?</th>
                            </tr>
                        </thead>
                        


                        <tbody>
                        {% for slug, item in cart.items %}                          
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid" style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
                                        {{item.name}}
                                    </div>
                                </td>
                                <td>${{item.price}}</td>
                                <!-- <td>
                                    <input type="number" class="form-control" value="{{item.quantity}}" min="1">
                                </td> -->

                                <td style="display: flex; align-items: center; gap: 10px;">
                                    <a href="{% url 'cart:remove_from_cart' slug %}" title="Remove one">
                                        <img width="20" height="20" src="https://img.icons8.com/android/24/minus.png" alt="minus"/>
                                    </a>
                                
                                    <span>{{ item.quantity }}</span>
                                
                                    <a href="{% url 'cart:add_to_cart' slug %}" title="Add one">
                                        <img width="20" height="20" src="https://img.icons8.com/android/24/plus.png" alt="plus"/>
                                    </a>
                                </td>
                                

                                    <td>${{item.total_price}}</td>


                                    <td>
                                        <form action="{% url 'cart:remove_single_item_from_cart' slug %}">
                                            {% csrf_token %}
                                            <input type="submit" value="Remove" class="btn btn-danger">
                                        </form>
                                    </td>
                                

                            </tr>
                                <!-- Repeat for more items -->
                        {% empty %}
                            <tr>
                                <td colspan='4' style="font-size:x-large; text-align: center;">Your cart is empty.</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart_summary">
                    <h4>Cart Summary</h4>
                    <ul>
                        <li>Subtotal: <span>$300</span></li>
                        <li>Tax: <span>$30</span></li>
                        <li>Total: <span>${{total_cart_price}}</span></li>
                    </ul>
                    <form class="coupon_form mt-4">
                        <label for="coupon_code">Coupon Code</label>
                        <input type="text" id="coupon_code" class="form-control" placeholder="Enter your code">
                        <button type="submit" class="btn btn-primary mt-2">Apply Coupon</button>
                    </form>
                    <a href="{% url 'orders:create_order' %}" class="btn btn-success mt-4 w-100">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end cart section -->

{% endblock content %}
    






